In [ ]:

#!pip install pyxlsb
#!pip install openpyxl
#!pip install pandas

In [46]:
import pandas as pd
pd.set_option('display.max_rows', 500)

In [47]:
import matplotlib.pyplot as plt
import numpy as np
import requests
import json
import csv
import hvplot.pandas
from config import geoapify_key

In [48]:
df = pd.read_csv("Data_Analyst_Data.csv")
df

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M
...,...,...,...,...,...,...,...,...,...,...,...,...
9350,2021,Data Specialist,Data Management and Strategy,USD,165000,165000,United States,Senior,Full-time,Remote,United States,L
9351,2020,Data Scientist,Data Science and Research,USD,412000,412000,United States,Senior,Full-time,Remote,United States,L
9352,2021,Principal Data Scientist,Data Science and Research,USD,151000,151000,United States,Mid-level,Full-time,Remote,United States,L
9353,2020,Data Scientist,Data Science and Research,USD,105000,105000,United States,Entry-level,Full-time,Remote,United States,S
9354,2020,Business Data Analyst,Data Analysis,USD,100000,100000,United States,Entry-level,Contract,Remote,United States,L

In [49]:
# Check to see how many rows and columns we have
print(f"Number of Rows: {df.shape[0]}\nNumber of Columns: {df.shape[1]}")

Number of Rows: 9355
Number of Columns: 12

In [50]:
# Check Data to make sure that the data set does not have any Null values
null_values = df.isnull().sum()
# Print the Values
print("Null values count for each column:")
print(null_values)

Null values count for each column:
work_year             0
job_title             0
job_category          0
salary_currency       0
salary                0
salary_in_usd         0
employee_residence    0
experience_level      0
employment_type       0
work_setting          0
company_location      0
company_size          0
dtype: int64

In [51]:
# Check to see whether there are duplicates 
duplicates = df.duplicated().any()
print(f"The duplicates found in the data:")
print(duplicates)

The duplicates found in the data:
True

In [52]:
# Find the unique count of the specific job titles 
specific_jobs = df["job_title"].value_counts()
specific_jobs

job_title
Data Engineer                               2195
Data Scientist                              1989
Data Analyst                                1388
Machine Learning Engineer                    991
Applied Scientist                            272
Research Scientist                           269
Analytics Engineer                           256
Data Architect                               213
Business Intelligence Engineer               144
Research Engineer                            144
Data Manager                                 132
ML Engineer                                  106
Data Science Manager                          88
Machine Learning Scientist                    76
Business Intelligence Analyst                 54
BI Developer                                  52
Data Science Consultant                       44
Data Specialist                               40
Research Analyst                              39
Decision Scientist                            38
Data Analytics Manager                        38
AI Engineer                                   36
Head of Data                                  33
Director of Data Science                      29
BI Analyst                                    29
Machine Learning Infrastructure Engineer      27
Computer Vision Engineer                      25
Data Modeler                                  22
Data Quality Analyst                          20
Data Science Lead                             20
AI Developer                                  18
Business Data Analyst                         18
ETL Developer                                 18
Data Strategist                               18
AI Scientist                                  18
Machine Learning Researcher                   17
Business Intelligence Developer               17
Data Operations Engineer                      16
BI Data Analyst                               16
Data Lead                                     14
Data Science Engineer                         14
Machine Learning Software Engineer            13
NLP Engineer                                  12
Applied Machine Learning Scientist            12
AI Architect                                  12
Data Infrastructure Engineer                  12
Deep Learning Engineer                        12
Head of Data Science                          11
MLOps Engineer                                11
Applied Data Scientist                        11
Data Operations Analyst                       10
Data Science Practitioner                     10
Principal Data Scientist                      10
Data Integration Specialist                   10
Data Product Manager                           8
Machine Learning Developer                     8
Lead Data Scientist                            8
Insight Analyst                                8
Big Data Engineer                              8
Data Developer                                 6
Lead Data Engineer                             6
Data Analytics Engineer                        5
Cloud Database Engineer                        5
Product Data Analyst                           5
Data Management Specialist                     5
AI Programmer                                  5
Computer Vision Software Engineer              5
Machine Learning Research Engineer             4
Machine Learning Manager                       4
Data Operations Specialist                     4
AI Research Engineer                           4
Data Science Director                          4
Data Visualization Engineer                    4
Data Visualization Specialist                  4
Data Strategy Manager                          4
Financial Data Analyst                         4
Cloud Data Engineer                            4
Business Intelligence Specialist               4
Applied Machine Learning Engineer              3
Software Data Engineer                         3
Finance Data Analyst                           3
Lead Machine Learning Engineer                 3
Data Quality Engineer                          3
Lead Data Analyst                              3
Principal Data Engineer                        3
Principal Machine Learning Engineer            3
Data Analytics Lead                            3
Staff Data Analyst                             3
Big Data Architect                             2
ETL Engineer                                   2
Autonomous Vehicle Technician                  2
Data Visualization Analyst                     2
Data Analytics Consultant                      2
Data Scientist Lead                            2
Marketing Data Analyst                         2
Data Analytics Specialist                      2
Data DevOps Engineer                           2
Principal Data Analyst                         2
Machine Learning Specialist                    2
Head of Machine Learning                       2
Compliance Data Analyst                        2
Business Intelligence Manager                  2
Data Integration Engineer                      2
Staff Data Scientist                           2
Machine Learning Modeler                       2
Data Management Analyst                        2
Business Intelligence Data Analyst             2
Data Operations Manager                        2
Data Modeller                                  2
Data Product Owner                             2
Azure Data Engineer                            2
Marketing Data Engineer                        1
Data Science Tech Lead                         1
Cloud Data Architect                           1
Manager Data Management                        1
Analytics Engineering Manager                  1
Machine Learning Operations Engineer           1
Power BI Developer                             1
BI Data Engineer                               1
Staff Machine Learning Engineer                1
Consultant Data Engineer                       1
Sales Data Analyst                             1
Managing Director Data Science                 1
AWS Data Architect                             1
Deep Learning Researcher                       1
Name: count, dtype: int64

In [53]:
#Finding the top 10 jobs (The jobs with the most employees)
#df["job_title"] = pd.to_numeric(df["job_title"], errors='coerce')
#top_10_values = df.nlargest(10, "job_title")

# Print the top 10 values
#print("Top 10 values:")
#print(top_10_values)
#df['job_title'].value_counts()

data_df= df['job_title'].value_counts().reset_index()
data_df.columns = ['job_title', "count"]
data_df= df.sort_values(by="count", ascending=False)

KeyError: 'count'